<div class="content">
  <div class="full-bottom"></div>
  <div class="box-960">
    <h3>Oya No Kai Privacy Policy</h3>

    <p>
      Our privacy policy is simple.
      <ul>
        <li>We will not share your personal information.</li>
        <li>Your e-mail address will be used for Kurabu follow-up only.</li>
      </ul>
      <br/><br/>
    </p>
  </div>
</div>