<div class="content">
  <div class="full-bottom"></div>
  <div class="box-960">
    <h3>Oya No Kai Support</h3>

    <p>
      If you are experiencing a technical problem with our site, did you receive a login url,
      or have any questions then please email us at <a href="mailto:info@oyanokai.org">info@oyanokai.org</a>
      <br/><br/>
    </p>
  </div>
</div>