<script>
    jQuery(document).ready(function () {
        jQuery("tr:odd").addClass("even");
    });
</script>

<%= render '/kmgr/includes/search' %>

<div class="content">
  <div class="half-bottom"></div>
  <div class="box-960 half-bottom">

    <h4>All Signups</h4>
    <%= link_to 'back to overview', kmgr_overview_path %>
    <%= render '/kmgr/includes/signup_table', signups: @signups %>

  </div>
</div>
