<script>
    jQuery(document).ready(function () {
        jQuery("tr:odd").addClass("even");
    });
</script>

<%= render '/kmgr/includes/search' %>

<div class="content">
  <%= render '/kmgr/includes/breadcrumb', page_name: 'search' %>
  <div class="box-960 half-bottom">

    <h4>Search '<%= params[:term] %>'</h4>
    <%= render '/kmgr/includes/signup_table', signups: @signups %>

  </div>
</div>
