
<div class="content">

  <div class="login-box-one one-third-responsive">
    <div style="display: none; width: 270px;margin: 0 auto;">
    </div>
    <div style="width: 270px;margin: 0 auto;">
      &nbsp;
    </div>
  </div>

  <%= form_for resource, as: resource_name, url: session_path(resource_name), html: {style: 'overflow:visible;'} do |f| %>
    <div class="login-box-one one-third-responsive full-bottom">
      <div class="login-wrapper half-bottom">
        <img src="/images/general/mtfuji.jpg" alt="img">
        <p class="half-bottom" style="margin-top:30px;"></p>
        <em><i class="fa fa-envelope"></i>Email</em>
        <input name="user[email]" onfocus="if (this.value=='') this.value = ''" onblur="if (this.value=='') this.value = ''" type="text" value="" class="green-focus login-box-one-pwd half-bottom">
        <em><i class="fa fa-lock"></i>Password</em>
        <input name="user[password]" onfocus="if (this.value=='') this.value = ''" onblur="if (this.value=='') this.value = ''" type="password" value="" class="green-focus login-box-one-pwd half-bottom">
        <%= f.submit "Login", class: "button button-blue center-button half-bottom" %>
      </div>
    </div>
  <% end %>

  <div class="clear"></div>

</div>
