@charset "utf-8";
/* CSS Document */

/*/////////////*/
/*///320-768///*/
/*/////////////*/

.responsive-image{
	width:100%;
	display:block;
}

.smaller-responsive{
	width:70%;
	margin-left:auto;
	margin-right:auto;
	margin-top:30px;
}

.responsive-iframe { 
	position: relative; 
	padding-bottom: 56.25%; 
	padding-top: 30px; 
	height: 0; 
	overflow: hidden; 
	max-width: 100%; 
	height: auto; 
} 

.responsive-iframe iframe, .responsive-iframe object, .responsive-iframe embed { 
	position: absolute; 
	top: 0; 
	left: 0;
	width: 100%; 
	height: 100%; 
}

.full-image{
	min-width:100%;
	display:block;
}

@media screen and (min-width:0px) and (max-width:320px){
	.center-icon-responsive{
		width:100%!important;
	}
}

@media screen and (min-width:0px) and (max-width:768px){
	body{ font-size:12px;	line-height:24px;}
	h1{	  font-size:22px;	margin-bottom:10px;	font-weight:800;	color:#292929;}
	h2{	  font-size:20px;	margin-bottom:10px;	font-weight:800;	color:#292929;}
	h3{	  font-size:18px;	margin-bottom:10px;	font-weight:800;	color:#292929;}
	h4{	  font-size:16px;	margin-bottom:10px;	font-weight:800;	color:#292929;}
	h5{	  font-size:14px;	margin-bottom:10px;	font-weight:800;	color:#292929;}	
	h6{	  font-size:13px;	margin-bottom:10px;	font-weight:800;	color:#292929;}
	.box-960{ width:100%; margin:0 auto;}
	.box-p80{width:100%; margin:0 auto;}
	.box-1280{width:100%; margin:0 auto;}
	.container{ margin-bottom:40px;}
	.decoration{margin-bottom:40px;}
	p{	   	    margin-bottom:40px;}
	.responsive-image{margin-bottom:10px;}
	.hide-if-responsive{	display:block!important;}
	.hide-if-mobile{		display:none!important;}

	.full-bottom{margin-bottom:40px!important;}
	.half-bottom{margin-bottom:20px!important;}

	.column-1 img{width:140px; height:140px;}
	.column-1 .rounded-thumb{border-radius:140px;}
	.column-2 img{width:140px; height:140px;}
	.column-2 .rounded-thumb{border-radius:140px;}
	.column-3 img{width:120px; height:120px;}
	.column-3 .rounded-thumb{border-radius:120px;}
	
	.detect-screen{display:none;}
	.detect-mobile{display:block;}
		
	/*//////////////////*/	
	/*Responsive Columns*/
	/*//////////////////*/
	
	.one-half{
		width:45%;
		float:left;
		margin-right:10%;
	}
	
	.one-third{
		width:30%;
		float:left;
		margin-right:5%;
	}
	
	.last{
		margin-bottom:0px!important;
	}
	
	.one-half-responsive{
		width:100%;
		margin-bottom:30px;
	}
	
	.one-third-responsive{
		width:100%;
		margin-bottom:30px;		
	}
	
	.one-forth-responsive{
		width:100%;
		margin-bottom:30px;
	}
	
	.one-fifth-responsive{
		width:100%;
		margin-bottom:30px;
	}
	
	.column-2 img{
		margin-left:auto;
		margin-right:auto;
		float:none;
	}
	
	.column-2 h6{
		padding-top:15px;	
		margin-bottom:5px;
		text-align:center;
	}
	
	.column-2 p{	  			 
		display:block;
		width:80%;
		margin-left:auto;
		margin-right:auto;
		text-align:center;
	}

	.column-1 a{
		margin-top:10px;
	}

	.column-2 a{				 
		text-align:center; 
		margin-top:20px;
	}
	
	.column-2 em{
		display:block;
		text-align:center;
		color:#9c9c9c;
		margin-bottom:15px;
	}
	
	.column-2 .button{
		width:120px;
		text-align:center;
		margin-left:auto;
		margin-right:auto;
		display:block;
		float:none;
	}
	
	.formSubmitButtonErrorsWrap{
		width:100%;
		margin-right:5%;
		padding-left:15px;
		margin-bottom:40px;
	}

	.formSubmitButtonErrorsWrap i{
		left:15px;
	}
		
	.facebook-box-button{
		width:45%;
		display:block;
		margin-right:10%;
		float:left;
	}
	
	.twitter-box-button{
		width:45%;
		display:block;
		float:left;
	}
	
	.button{
		font-size:11px;
		padding:5px 8px;
	}
	
	.toggle-1-title, .toggle-2-title, .toggle-3-title{
		font-size:12px;	
	}
	
}

/*//////////////*/
/*///768-1024///*/
/*//////////////*/

@media screen and (min-width:768px) and (max-width:1024px){
	body{ font-size:12px;	line-height:24px;}				 
	h1{	  font-size:24px;	margin-bottom:10px;	font-weight:600;	color:#292929;}
	h2{	  font-size:22px;	margin-bottom:10px;	font-weight:600;	color:#292929;}
	h3{	  font-size:20px;	margin-bottom:10px;	font-weight:600;	color:#292929;}
	h4{	  font-size:18px;	margin-bottom:10px;	font-weight:600;	color:#292929;}
	h5{	  font-size:16px;	margin-bottom:10px;	font-weight:600;	color:#292929;}
	h6{	  font-size:14px;	margin-bottom:10px;	font-weight:600;	color:#292929;}
	.box-960{   	 width:100%; margin:0 auto;}	
	.box-1280{   	 width:100%; margin:0 auto;}	
	.box-p80{	width:80%; margin:0 auto;}
	.container{ margin-bottom:40px;}
	.decoration{margin-bottom:40px;}
	p{	   	    margin-bottom:40px;}
	.responsive-image{      margin-bottom:10px;}
	.hide-if-responsive{	display:none!important;}
	.hide-if-mobile{		display:block!important;}
	
	.full-bottom{margin-bottom:40px!important;}
	.half-bottom{margin-bottom:20px!important;}
	
	.column-3 img{width:140px; height:140px;}
	.column-3 .rounded-thumb{border-radius:140px;}

	.detect-screen{display:block;}
	.detect-mobile{display:none;}
	
	/*//////////////////*/	
	/*Responsive Columns*/
	/*//////////////////*/
	
	.one-half{
		width:45%;
		float:left;
		margin-right:10%;
	}
	
	.one-third{
		width:30%;
		float:left;
		margin-right:5%;
	}
	
	.one-half-responsive{
		width:45%;
		float:left;
		margin-right:10%;	
	}
	
	.one-third-responsive{
		width:32%;
		float:left;
		margin-right:2%;
	}
	
	.one-forth-responsive{
		width:22%;
		float:left;
		margin-right:3%;
	}
	
	.one-fifth-responsive{
		width:18%;
		float:left;
		margin-right:2%;
	}
	
	.one-fifth-full{
		width:20%!important;
		margin-right:0px!important;
	}
	
	.one-forth-full{
		width:25%!important;
		margin-right:0px!important;
	}
	
	.one-third-full{
		width:33%!important;
		margin-right:0px!important;
	}
	
	.one-half-full{
		width:50%!important;
		margin-right:0px!important;
	}
	
	.formSubmitButtonErrorsWrap{
		float:left;
		width:30%;
		margin-right:5%;
		padding-left:15px;
	}
	

	.formSubmitButtonErrorsWrap i{
		left:22px;
	}
		
	.facebook-box-button{
		width:30%;
		display:block;
		margin-right:5%;
		float:left;
	}
	
	.twitter-box-button{
		width:30%;
		display:block;
		float:left;
	}
	
}

/*///////////////*/
/*///1024-1280///*/
/*///////////////*/

@media screen and (min-width:1024px) and (max-width:1280px){
	body{ font-size:12px;	line-height:24px;}
	h1{	  font-size:26px;	margin-bottom:15px;	font-weight:600;	color:#292929;}
	h2{	  font-size:24px;	margin-bottom:15px;	font-weight:600;	color:#292929;}
	h3{	  font-size:22px;	margin-bottom:15px;	font-weight:600;	color:#292929;}
	h4{	  font-size:20px;	margin-bottom:15px;	font-weight:600;	color:#292929;}
	h5{	  font-size:18px;	margin-bottom:15px;	font-weight:600;	color:#292929;}	
	h6{	  font-size:14px;	margin-bottom:15px;	font-weight:600;	color:#292929;}
	.box-960{   width:960px!important; margin:0 auto;}
	.box-1280{   width:1280px!important; margin:0 auto;}
	.box-p80{  width:80%; margin:0 auto;}
	.container{ margin-bottom:50px;}
	.decoration{margin-bottom:50px;}
	p{	   	    margin-bottom:50px;}
	.responsive-image{		margin-bottom:15px;}
	.hide-if-responsive{	display:none!important;}
	.hide-if-mobile{		display:block!important;}
	
	.full-bottom{margin-bottom:50px!important;}
	.half-bottom{margin-bottom:25px!important;}

	.column-3 img{width:160px; height:160px;}
	.column-3 .rounded-thumb{border-radius:160px;}
	
	.detect-screen{display:block;}
	.detect-mobile{display:none;}

	/*//////////////////*/	
	/*Responsive Columns*/
	/*//////////////////*/
	
	.one-half{
		width:45%;
		float:left;
		margin-right:10%;
	}	
	
	.one-third{
		width:30%;
		float:left;
		margin-right:5%;
	}
	
	.one-half-responsive{
		width:45%;
		float:left;
		margin-right:10%;	
	}
	
	.one-third-responsive{
		width:32%;
		float:left;
		margin-right:2%;
	}
	
	.one-forth-responsive{
		width:22%;
		float:left;
		margin-right:3%;
	}
	
	.one-forth-full{
		width:25%!important;
		margin-right:0px!important;
	}
	
	.one-fifth-responsive{
		width:18%;
		float:left;
		margin-right:2%;
	}
	
	.one-fifth-full{
		width:20%!important;
		margin-right:0px!important;
	}
	
	.one-third-full{
		width:33%!important;
		margin-right:0px!important;
	}
	
	.one-half-full{
		width:50%!important;
		margin-right:0px!important;
	}
	
	.formSubmitButtonErrorsWrap{
		float:left;
		width:137px;
		margin-right:10px;
		padding-left:15px;
	}
	
	.facebook-box-button{
		width:137px;
		display:block;
		margin-right:10px;
		float:left;
	}
	
	.twitter-box-button{
		width:137px;
		display:block;
		float:left;
	}
	
}

/*///////////////*/
/*///1280-XXXX///*/
/*///////////////*/

@media screen and (min-width:1280px){
	body{ font-size:12px;	line-height:24px;}
	h1{	  font-size:26px;	margin-bottom:15px;	font-weight:600;	color:#292929;}
	h2{	  font-size:24px;	margin-bottom:15px;	font-weight:600;	color:#292929;}
	h3{	  font-size:22px;	margin-bottom:15px;	font-weight:600;	color:#292929;}
	h4{	  font-size:20px;	margin-bottom:15px;	font-weight:600;	color:#292929;}
	h5{	  font-size:18px;	margin-bottom:15px;	font-weight:600;	color:#292929;}
	h6{	  font-size:14px;	margin-bottom:15px;	font-weight:600;	color:#292929;}
	.box-960{   width:960px!important; margin:0 auto;}
	.box-1280{   width:1280px!important; margin:0 auto;}
	.box-p80{  width:80%; margin:0 auto;}
	.container{ margin-bottom:50px;}
	.decoration{margin-bottom:50px;}
	p{	   	    margin-bottom:50px;}
	.responsive-image{margin-bottom:15px;}
	.hide-if-responsive{	display:none!important;}
	.hide-if-mobile{		display:block!important;}
	
	.full-bottom{margin-bottom:50px!important;}
	.half-bottom{margin-bottom:25px!important;}

	.column-3 img{width:160px; height:160px;}
	.column-3 .rounded-thumb{border-radius:160px;}
	
	.detect-screen{display:block;}
	.detect-mobile{display:none;}
	
  	/*//////////////////*/	
	/*Responsive Columns*/
	/*//////////////////*/
	
	.one-half{
		width:45%;
		float:left;
		margin-right:10%;
	}
	
	.one-third{
		width:30%;
		float:left;
		margin-right:5%;
	}
	
	.one-half-responsive{
		width:45%;
		float:left;
		margin-right:10%;	
	}
	
	.one-third-responsive{
		width:32%;
		float:left;
		margin-right:2%;
	}
	
	.one-forth-responsive{
		width:22%;
		float:left;
		margin-right:3%;
	}
	
	.one-forth-full{
		width:25%!important;
		margin-right:0px!important;
	}
	
	.one-fifth-responsive{
		width:18%;
		float:left;
		margin-right:2%;
	}
	
	.one-fifth-full{
		width:20%!important;
		margin-right:0px!important;
	}
	
	.one-third-full{
		width:33%!important;
		margin-right:0px!important;
	}
	
	.one-half-full{
		width:50%!important;
		margin-right:0px!important;
	}
	
	.formSubmitButtonErrorsWrap{
		float:left;
		width:137px;
		margin-right:10px;
		padding-left:15px;
	}
	
	.facebook-box-button{
		width:137px;
		display:block;
		margin-right:10px;
		float:left;
	}
	
	.twitter-box-button{
		width:137px;
		display:block;
		float:left;
	}
	
}


.location{
	position:relative;	
}

#location-canvas{
	width:100%;
	height:400px;
}

#location-canvas * {
	overflow:visible;
}

.map-activation{
	z-index:99999;
	display:block;
	position:absolute;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.7);	
	color:#FFFFFF;
}

.map-activation em{
	font-size:14px;
	position:absolute;
	height:12px;
	top:50%;
	margin-top:20px;
	text-align:center;
	width:100%;
	font-weight:normal;
	opacity:0.5;
}

.map-activation em i{
	color:#e34e47;
	padding-right:10px;
	padding-left:10px;
}

.map-activation strong{
	font-family:'Source Sans Pro', sans-serif;
	text-transform:uppercase;
	font-weight:700;
	position:absolute;
	height:20px;
	font-size:40px;
	top:50%;
	margin-top:-20px;
	text-align:center;
	width:100%;
}

@media (max-width:480px){
	.map-activation strong{
		font-size:16px;
		margin-top:-15px;
	}
	
	.map-activation em{
		font-size:12px;
	}
}

@media (min-width:960px){
	.content{
		padding:0px;
	}
}

@media (max-width:960px){
	.content{
		padding-left:20px;
		padding-right:20px;
	}
}
























