<h1>Kurabu Summer Camp 2016 Registration</h1>
<h1>クラブ（サマーキャンプ）</h1>
<p>This form must be completed for every child attending Kurabu 2015.</p>

<p style="color:black;margin-bottom:10px;"><strong>Student Information</strong></p>
<form>
<table>
  <tr>
    <td><p style="margin-bottom:0;">Child’s First Name:</p></td>
    <td><input type="text" name="cfname"/></td>
  </tr>
  <tr>
    <td><p style="margin-bottom:0;">Child’s Last Name:</p></td>
    <td><input type="text" name="clname"/></td>
  </tr>
  <tr>
    <td><p style="margin-bottom:0;">Gender:</p></td>
    <td>
      <span style="font-size: 13px;color: #8c8c8c;">Male</span> <input type="radio" name="cgender"/>
      &nbsp;&nbsp;&nbsp;
      <span style="font-size: 13px;color: #8c8c8c;">Female</span> <input type="radio" name="cgender"/>
    </td>
  </tr>
  <tr>
    <td><p style="margin-bottom:0;">Birthday:</p></td>
    <td>
      <span style="font-size: 13px;color: #8c8c8c;">Month</span>
      <select name="cmonth" style="width:100px;">
        <option>Jan</option>
        <option>Feb</option>
        <option>Mar</option>
        <option>Apr</option>
        <option>May</option>
        <option>Jun</option>
        <option>Jul</option>
        <option>Aug</option>
        <option>Sep</option>
        <option>Oct</option>
        <option>Nov</option>
        <option>Dec</option>
      </select>
      &nbsp;&nbsp;&nbsp;
      <span style="font-size: 13px;color: #8c8c8c;">Day</span>
      <select name="cday" style="width:100px;">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
        <option>7</option>
        <option>8</option>
        <option>9</option>
        <option>10</option>
        <option>11</option>
        <option>12</option>
        <option>13</option>
        <option>14</option>
        <option>15</option>
        <option>16</option>
        <option>17</option>
        <option>18</option>
        <option>19</option>
        <option>20</option>
        <option>21</option>
        <option>22</option>
        <option>23</option>
        <option>24</option>
        <option>25</option>
        <option>26</option>
        <option>27</option>
        <option>28</option>
        <option>29</option>
        <option>30</option>
        <option>31</option>
      </select>
      &nbsp;&nbsp;&nbsp;
      <span style="font-size: 13px;color: #8c8c8c;">Year</span>
      <select name="cday" style="width:100px;">
        <option>2014</option>
        <option>2013</option>
        <option>2012</option>
        <option>2011</option>
        <option>2010</option>
        <option>2009</option>
        <option>2008</option>
        <option>2007</option>
        <option>2006</option>
        <option>2005</option>
        <option>2004</option>
        <option>2003</option>
        <option>2002</option>
        <option>2001</option>
        <option>2000</option>
        <option>1999</option>
        <option>1998</option>
        <option>1997</option>
        <option>1996</option>
        <option>1995</option>
        <option>1994</option>
        <option>1993</option>
        <option>1992</option>
        <option>1991</option>
      </select>
    </td>
  </tr>
  <tr>
    <td><p style="margin-bottom:0;">Age at time of camp:</p></td>
    <td><input type="text" name="cage" style="width:100px"/></td>
  </tr>
</table>
<br/><br/>
<p style="color:black;margin-bottom:10px;"><strong>Parent Information</strong></p>
<table>
  <tr>
    <td><p style="margin-bottom:0;">Parent 1 First Name:</p></td>
    <td><input type="text" name="p1fname" style="width:500px;"/></td>
  </tr>
  <tr>
    <td><p style="margin-bottom:0;">Parent 1 Last Name:</p></td>
    <td><input type="text" name="p1lname"/></td>
  </tr>
  <tr>
    <td><p style="margin-bottom:0;">Parent 2 First Name:</p></td>
    <td><input type="text" name="p2fname"/></td>
  </tr>
  <tr>
    <td><p style="margin-bottom:0;">Parent 2 Last Name:</p></td>
    <td><input type="text" name="p2lname"/></td>
  </tr>
  <tr>
    <td><p style="margin-bottom:0;">Home/Cell Phone:</p></td>
    <td><input type="text" name="phone1"/></td>
  </tr>
  <tr>
    <td><p style="margin-bottom:0;">Work Phone:</p></td>
    <td><input type="text" name="phone2"/></td>
  </tr>
  <tr>
    <td><p style="margin-bottom:0;">Email:</p></td>
    <td><input type="text" name="email"/></td>
  </tr>
  <tr>
    <td><p style="margin-bottom:0;">Street:</p></td>
    <td><input type="text" name="street"/></td>
  </tr>
  <tr>
    <td><p style="margin-bottom:0;">City:</p></td>
    <td><input type="text" name="city"/></td>
  </tr>
  <tr>
    <td><p style="margin-bottom:0;">State:</p></td>
    <td><input type="text" name="state" style="width:150px;"/></td>
  </tr>
  <tr>
    <td><p style="margin-bottom:0;">Zip:</p></td>
    <td><input type="text" name="zip" style="width:150px;"/></td>
  </tr>
</table>

<br/><br/>
<p style="color:black;margin-bottom:10px;"><strong>My Child will attend the following sessions:</strong></p>
<ul style="list-style-type: none;">
  <li>
    <input type="checkbox" name="session1">
    <strong>Session 1: June 22 – June 26, M-F </strong>
  </li>
  <li>
    <input type="checkbox" name="session2">
    <strong>Session 2: June 29 – July 02, M-Th </strong>
  </li>
  <li>
    <input type="checkbox" name="session3">
    <strong>Session 3: July 06 – July 10, M-F </strong>
  </li>
  <li>
    <input type="checkbox" name="session4">
    <strong>Session 4: July 13 – July 17, M-F </strong>
  </li>
  <li>
    <input type="checkbox" name="session5">
    <strong>Session 5: July 20 – July 24, M-F </strong>
  </li>
</ul>

<br/>
<p style="color:black;margin-bottom:10px;">
  <strong>Special information about your child that would be helpful for the Kurabu staff to know:</strong></p>
<textarea name="special" style="width:700px;height:100px;"></textarea>

<br/><br/><br/>
<p style="color:black;margin-bottom:10px;">
  <strong>MEDICATIONS/CONDITIONS: Please list any health problems, mental or physical conditions that might require<br/>
    special planning or consideration for this child’s participation in Kurabu. (Use additional paper if
    necessary.)</strong></p>
<textarea name="medical" style="width:700px;height:100px;"></textarea>

<p>Note: Kurabu staff will dispense medication under physician’s orders. All medications must be in the prescription
  container clearly labeled with child’s name, the type of medication, the dosage, and the times (both am and pm) to
  administer the medication. Additional “Medication Administration” forms may be required prior to the start of
  camp.</p>

<p style="color:black;margin-bottom:10px;">
  <strong>By agreeing and typeing in my name, I request the Kurabu staff administer medication to my
    above named child in the manner described by the physician’s orders.</strong></p>

<table>
  <tr>
    <td><p style="margin-bottom:0;">I agree:</p></td>
    <td><input type="checkbox" name="medical_agree"/></td>
    <td><p style="margin-bottom:0;margin-left:50px;">Signed:</p></td>
    <td><input type="text" name="medical_signed" style="width:300px;"/></td>
    <td><p style="margin-bottom:0;margin-left:50px;">Date:</p></td>
    <td><input type="text" name="medical_signed_date"/></td>
  </tr>
</table>

<br/><br/>
<p style="color:black;margin-bottom:10px;">Has your child ever had any injection for
  <strong>tetanus (DT, DPT, TD)</strong>? If so, when?</p>
<table>
  <tr>
    <td><p style="margin-bottom:0;">Month:</p></td>
    <td><input type="text" name="shots_month" style="width:100px;"/></td>
    <td><p style="margin-bottom:0;margin-left:30px;">Year:</p></td>
    <td><input type="text" name="shots_year" style="width:100px;"/></td>
  </tr>
</table>

<br/><br/>
<p style="color:black;margin-bottom:10px;"><strong>In Case of EMERGENCY, if unable to locate parents, contact:</strong>
</p>
<table>
  <tr>
    <td><p style="margin-bottom:0;">Name:</p></td>
    <td><input type="text" name="econtact_name" style="width:500px;"/></td>
  </tr>
  <tr>
    <td><p style="margin-bottom:0;">Relationship to camper:</p></td>
    <td><input type="text" name="econtact_relationship"/></td>
  </tr>
  <tr>
    <td><p style="margin-bottom:0;">Phone:</p></td>
    <td><input type="text" name="econtact_phone"/></td>
  </tr>
  <tr>
    <td><p style="margin-bottom:0;">Address:</p></td>
    <td><input type="text" name="econtact_address"/></td>
  </tr>
</table>

<br/><br/>
<p style="color:black;margin-bottom:10px;"><strong>Activities Authorization:</strong></p>
<p style="color:black;margin-bottom:10px;">
  <input type="text" name="activity_cname" style="width:300px;"/> (child’s name) has my permission to participate in all
  Kurabu activities.
  I also authorize Kurabu to use local emergency services in order to secure proper treatment for my child as named
  above. By agreeing and typeing in my name, I release Oya No Kai, the City of Portland, and Mt. Tabor Middle School
  from all liability or responsibility for
  any accident or injury to my child while at Kurabu.</p>

<table>
  <tr>
    <td><p style="margin-bottom:0;">I agree:</p></td>
    <td><input type="checkbox" name="activity_agree"/></td>
    <td><p style="margin-bottom:0;margin-left:50px;">Signed:</p></td>
    <td><input type="text" name="activity_signed" style="width:300px;"/></td>
    <td><p style="margin-bottom:0;margin-left:50px;">Date:</p></td>
    <td><input type="text" name="activity_signed_date"/></td>
  </tr>
</table>

<br/><br/>
<p style="color:black;margin-bottom:10px;"><strong>Photo Authorization:</strong></p>
<p style="color:black;margin-bottom:10px;">
  By agreeing and typeing in my name, I consent to and authorize Kurabu to use my child’s name and photograph
  for education and public relation purposes related to Kurabu.</p>

<table>
  <tr>
    <td><p style="margin-bottom:0;">I agree:</p></td>
    <td><input type="checkbox" name="photo_agree"/></td>
    <td><p style="margin-bottom:0;margin-left:50px;">Signed:</p></td>
    <td><input type="text" name="photo_signed" style="width:300px;"/></td>
    <td><p style="margin-bottom:0;margin-left:50px;">Date:</p></td>
    <td><input type="text" name="photo_signed_date"/></td>
  </tr>
</table>

<br/><br/><br/>
<p style="color:black;margin-bottom:10px;">
  <strong>Any directions to the contrary should be specified and signed below.</strong></p>
<textarea name="directions" style="width:700px;height:100px;"></textarea>

<br/><br/><br/>
<p><strong>Please Note:</strong> In cases when lice is found on a camper's head, his/her parents will be notified
  immediately and will be
  asked to pick him/her up from the camp. The camper will be allowed to return to the camp after treatment is
  complete & no nits are found. Thank you for your cooperation.</p>

<input type="submit" value="Submit My Application">
</form>
