<nav class="menu">
  <ul id="menu-primary" class="menu">
    <li id="menu-item-8" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-8">
      <a href="">&nbsp;</a>
    </li>
  </ul>
</nav>
