<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Oya No Kai</title>
  <link rel="profile" href="http://gmpg.org/xfn/11">
  <link rel="pingback" href="https://oyanokai.org/xmlrpc.php">

  <script src='https://r-login.wordpress.com/remote-login.php?action=js&amp;host=oyanokai.org&amp;id=124857644&amp;t=1488513946&amp;back=https%3A%2F%2Foyanokai.org%2F' type="text/javascript"></script>
  <script type="text/javascript">
    /* <![CDATA[ */
    if ( 'function' === typeof WPRemoteLogin ) {
        document.cookie = "wordpress_test_cookie=test; path=/";
        if ( document.cookie.match( /(;|^)\s*wordpress_test_cookie\=/ ) ) {
            WPRemoteLogin();
        }
    }
    /* ]]> */
  </script>
  <link rel='dns-prefetch' href='//s2.wp.com' />
  <link rel='dns-prefetch' href='//s0.wp.com' />
  <link rel='dns-prefetch' href='//oyanokaipdx.wordpress.com' />
  <link rel='dns-prefetch' href='//s1.wp.com' />
  <link rel='dns-prefetch' href='//fonts.googleapis.com' />
  <link rel="alternate" type="application/rss+xml" title="Oya No Kai &raquo; Feed" href="https://oyanokai.org/feed/" />
  <link rel="alternate" type="application/rss+xml" title="Oya No Kai &raquo; Comments Feed" href="https://oyanokai.org/comments/feed/" />
  <script type="text/javascript">
    /* <![CDATA[ */
    function addLoadEvent(func) {
        var oldonload = window.onload;
        if (typeof window.onload != 'function') {
            window.onload = func;
        } else {
            window.onload = function () {
                oldonload();
                func();
            }
        }
    }
    /* ]]> */
  </script>
  <script type="text/javascript">
      window._wpemojiSettings = {"baseUrl":"https:\/\/s0.wp.com\/wp-content\/mu-plugins\/wpcom-smileys\/twemoji\/2\/72x72\/","ext":".png","svgUrl":"https:\/\/s0.wp.com\/wp-content\/mu-plugins\/wpcom-smileys\/twemoji\/2\/svg\/","svgExt":".svg","source":{"concatemoji":"https:\/\/s1.wp.com\/wp-includes\/js\/wp-emoji-release.min.js?m=1473172720h&ver=4.6.1-RC1-38499"}};
      !function(a,b,c){function d(a){var c,d,e,f,g,h=b.createElement("canvas"),i=h.getContext&&h.getContext("2d"),j=String.fromCharCode;if(!i||!i.fillText)return!1;switch(i.textBaseline="top",i.font="600 32px Arial",a){case"flag":return i.fillText(j(55356,56806,55356,56826),0,0),!(h.toDataURL().length<3e3)&&(i.clearRect(0,0,h.width,h.height),i.fillText(j(55356,57331,65039,8205,55356,57096),0,0),c=h.toDataURL(),i.clearRect(0,0,h.width,h.height),i.fillText(j(55356,57331,55356,57096),0,0),d=h.toDataURL(),c!==d);case"diversity":return i.fillText(j(55356,57221),0,0),e=i.getImageData(16,16,1,1).data,f=e[0]+","+e[1]+","+e[2]+","+e[3],i.fillText(j(55356,57221,55356,57343),0,0),e=i.getImageData(16,16,1,1).data,g=e[0]+","+e[1]+","+e[2]+","+e[3],f!==g;case"simple":return i.fillText(j(55357,56835),0,0),0!==i.getImageData(16,16,1,1).data[0];case"unicode8":return i.fillText(j(55356,57135),0,0),0!==i.getImageData(16,16,1,1).data[0];case"unicode9":return i.fillText(j(55358,56631),0,0),0!==i.getImageData(16,16,1,1).data[0]}return!1}function e(a){var c=b.createElement("script");c.src=a,c.type="text/javascript",b.getElementsByTagName("head")[0].appendChild(c)}var f,g,h,i;for(i=Array("simple","flag","unicode8","diversity","unicode9"),c.supports={everything:!0,everythingExceptFlag:!0},h=0;h<i.length;h++)c.supports[i[h]]=d(i[h]),c.supports.everything=c.supports.everything&&c.supports[i[h]],"flag"!==i[h]&&(c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&c.supports[i[h]]);c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&!c.supports.flag,c.DOMReady=!1,c.readyCallback=function(){c.DOMReady=!0},c.supports.everything||(g=function(){c.readyCallback()},b.addEventListener?(b.addEventListener("DOMContentLoaded",g,!1),a.addEventListener("load",g,!1)):(a.attachEvent("onload",g),b.attachEvent("onreadystatechange",function(){"complete"===b.readyState&&c.readyCallback()})),f=c.source||{},f.concatemoji?e(f.concatemoji):f.wpemoji&&f.twemoji&&(e(f.twemoji),e(f.wpemoji)))}(window,document,window._wpemojiSettings);
  </script>
  <style type="text/css">
    img.wp-smiley,
    img.emoji {
      display: inline !important;
      border: none !important;
      box-shadow: none !important;
      height: 1em !important;
      width: 1em !important;
      margin: 0 .07em !important;
      vertical-align: -0.1em !important;
      background: none !important;
      padding: 0 !important;
    }
  </style>
  <link rel='stylesheet' id='all-css-0-1' href='https://s2.wp.com/_static/??-eJx9jsEOgkAMRH/ItRIVvRi/hV0bWdhCQ7sQ/t4i8aKGSzMzmZcpTOxC3yl2CpQdp/yMncDEoScnFBPOX24fRHbwH0uxRYEGlavQurfbqod+QMuJK10ahI9YYUKy2hZGXH6oRda2tTmzvu89Dyji7FLM5LS2oV9ujYGzBxwt8ENUdKYyguiccCHudCtO1+P5UhyKsnkBBil5FQ==' type='text/css' media='all' />
  <link rel='stylesheet' id='eventbrite-venue-cutive-css'  href='https://fonts.googleapis.com/css?family=Cutive&#038;ver=4.6.1-RC1-38499' type='text/css' media='all' />
  <link rel='stylesheet' id='eventbrite-venue-raleway-css'  href='https://fonts.googleapis.com/css?family=Raleway%3A400%2C800&#038;ver=4.6.1-RC1-38499' type='text/css' media='all' />
  <link rel='stylesheet' id='all-css-4-1' href='https://s1.wp.com/_static/??-eJx9jNEKgzAMRX9oXSYq+DL2LWnpYkbaSBvZ76++bMrAt3Pg3AsMWY2D5vqFa6j1Au/FNbGYDdLqFlmJW0NRnWhAY80HcU9BLmfTEr0oNSRo1U7PRhi2c4/lR3+5zTHFCvMAJOpRtuCR7t0wjWM/df3t9QE6slT6' type='text/css' media='all' />
  <script type='text/javascript' src='https://s0.wp.com/_static/??-eJyFjtsOgkAMRH/IZcVg5MX4LSyM2JW9uBcIfL0l0Qcj0aRJm+npdOTkBdl2yB2i1FyPjDC/WqHjTv4ChKE+NAmFIfuGW2cTbFpZ4xQNEDkiND1rbHR1G5x3MRnEyNDG9jMS2ZEw/cU0km/auwiItHy5phv4n/RZSYwsqEAJgqeM1WogtYbvECwtgY8v5lxW9elQl8dqr59VXnMX'></script>
  <link rel="EditURI" type="application/rsd+xml" title="RSD" href="https://oyanokaipdx.wordpress.com/xmlrpc.php?rsd" />
  <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="https://s1.wp.com/wp-includes/wlwmanifest.xml" />
  <meta name="generator" content="WordPress.com" />
  <link rel='shortlink' href='http://wp.me/8rTaY' />

  <!-- Jetpack Open Graph Tags -->
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Oya No Kai" />
  <meta property="og:description" content="Support the Japanese Dual Language Program of Portland Public Schools" />
  <meta property="og:url" content="https://oyanokai.org/" />
  <meta property="og:site_name" content="Oya No Kai" />
  <meta property="og:image" content="https://s0.wp.com/i/blank.jpg" />
  <meta property="og:locale" content="en_US" />
  <meta name="twitter:site" content="@wordpressdotcom" />
  <link rel="shortcut icon" type="image/x-icon" href="https://s2.wp.com/i/favicon.ico" sizes="16x16 24x24 32x32 48x48" />
  <link rel="icon" type="image/x-icon" href="https://s2.wp.com/i/favicon.ico" sizes="16x16 24x24 32x32 48x48" />
  <link rel="apple-touch-icon-precomposed" href="https://s0.wp.com/i/webclip.png" />
  <link rel="search" type="application/opensearchdescription+xml" href="https://oyanokai.org/osd.xml" title="Oya No Kai" />
  <link rel="search" type="application/opensearchdescription+xml" href="https://s1.wp.com/opensearch.xml" title="WordPress.com" />
  <meta name="application-name" content="Oya No Kai" /><meta name="msapplication-window" content="width=device-width;height=device-height" /><meta name="msapplication-tooltip" content="Support the Japanese Dual Language Program of Portland Public Schools" /><meta name="msapplication-task" content="name=Subscribe;action-uri=https://oyanokai.org/feed/;icon-uri=https://s2.wp.com/i/favicon.ico" /><meta name="msapplication-task" content="name=Sign up for a free blog;action-uri=http://wordpress.com/signup/;icon-uri=https://s2.wp.com/i/favicon.ico" /><meta name="msapplication-task" content="name=WordPress.com Support;action-uri=http://support.wordpress.com/;icon-uri=https://s2.wp.com/i/favicon.ico" /><meta name="msapplication-task" content="name=WordPress.com Forums;action-uri=http://forums.wordpress.com/;icon-uri=https://s2.wp.com/i/favicon.ico" /><meta name="title" content="Oya No Kai on WordPress.com" />
  <meta name="description" content="Support the Japanese Dual Language Program of Portland Public Schools" />
  <style type="text/css">
    .logo-text h1,
    .logo-text h5 {
      position: absolute;
      clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
      clip: rect(1px, 1px, 1px, 1px);
    }
  </style>
  <style type="text/css" id="eventbrite-header-css">
    header[role=banner] {
      background: url(https://oyanokaipdx.files.wordpress.com/2017/02/onk_bk.png) top center no-repeat;
      background-size: cover;
    }
  </style>
  <style type="text/css" id="custom-background-css">
    body.custom-background { background-image: url('https://s0.wp.com/wp-content/themes/pub/eventbrite-venue/img/bg-main.png'); background-repeat: repeat; background-position: top left; background-attachment: scroll; }
  </style>
  <style type="text/css" id="syntaxhighlighteranchor"></style>
  <link rel="stylesheet" id="custom-css-css" type="text/css" href="https://s1.wp.com/?custom-css=1&#038;csblog=8rTaY&#038;cscache=6&#038;csrev=6" />
  <style type=text/css">
    .main-container .container {
      background: #000000; content: '';
    }
    .main-container .container:after {
      display: block;
      width: 1px;
      height: 100%;
      position: absolute;
      left: 65%;
      top: 0;
      background: #000000; content: '';
    }
  </style>
</head>

<body class="home blog custom-background mp6 customizer-styles-applied highlander-enabled highlander-light">
<header role="banner">
  <div class="container">
    <div class="logo-row">
      <a href="https://oyanokai.org/" class="logo">
        <img src="https://oyanokaipdx.files.wordpress.com/2017/02/onk_logo.png" />
      </a>
      <a href="https://oyanokai.org/" class="logo-text">
        <h1>Oya No Kai</h1>
        <h5>Support the Japanese Dual Language Program of Portland Public Schools</h5>
      </a>
    </div>
    <a href="#" class="menu-toggle">-</a>
  </div>
</header>

<section role="main" class="main-container">
  <div id="site-container" class="container">
    <%= render('layouts/menu_html') %>
    <div class="row">
      <div class="span8" style="width:1185px;">
        <div class="left-col event-home-loop" id="content">

          <% if notice != nil %><p class="notice" style="font-weight: bold; color:green"><%= notice %></p>
          <% end %>
          <% if alert != nil %><p class="alert" style="font-weight: bold; color:red"><%= alert %></p>
          <% end %>
          <%= yield %>

        </div>
      </div>


    </div>
  </div>
</section>
<footer class="site-footer row" role="contentinfo">
  <div class="container">
    <p>
    </p>
    <p>
    </p>
  </div>
</footer>
<!--  -->
<script type='text/javascript' src='//0.gravatar.com/js/gprofiles.js?ver=201709y'></script>
<script type='text/javascript'>
  /* <![CDATA[ */
  var WPGroHo = {"my_hash":""};
  /* ]]> */
</script>
<script type='text/javascript' src='https://s1.wp.com/wp-content/mu-plugins/gravatar-hovercards/wpgroho.js?m=1380573781h'></script>

<script>
    //initialize and attach hovercards to all gravatars
    jQuery( document ).ready( function( $ ) {

        if (typeof Gravatar === "undefined"){
            return;
        }

        if ( typeof Gravatar.init !== "function" ) {
            return;
        }

        Gravatar.profile_cb = function( hash, id ) {
            WPGroHo.syncProfileData( hash, id );
        };
        Gravatar.my_hash = WPGroHo.my_hash;
        Gravatar.init( 'body', '#wp-admin-bar-my-account' );
    });
</script>

<div style="display:none">
</div>
<script type='text/javascript'>
  /* <![CDATA[ */
  var actionbardata = {"siteID":"124857644","siteName":"Oya No Kai","siteURL":"https:\/\/oyanokai.org","icon":"<img alt='' src='https:\/\/s1.wp.com\/i\/logo\/wpcom-gray-white.png' class='avatar avatar-50' height='50' width='50' \/>","canManageOptions":"","canCustomizeSite":"","isFollowing":"","themeSlug":"pub\/eventbrite-venue","signupURL":"https:\/\/wordpress.com\/start\/","loginURL":"https:\/\/oyanokaipdx.wordpress.com\/wp-login.php?redirect_to=https%3A%2F%2Foyanokai.org%2F2017%2F02%2F28%2Fimportant-8th-grade-japan-research-residency-news%2F","themeURL":"https:\/\/wordpress.com\/themes\/eventbrite-venue\/","xhrURL":"https:\/\/oyanokai.org\/wp-admin\/admin-ajax.php","nonce":"ee8a4f0c0f","isSingular":"","isFolded":"","isLoggedIn":"","isMobile":"","subscribeNonce":"<input type=\"hidden\" id=\"_wpnonce\" name=\"_wpnonce\" value=\"8711de126a\" \/>","referer":"https:\/\/oyanokai.org\/","canFollow":"1","statusMessage":"","customizeLink":"https:\/\/oyanokaipdx.wordpress.com\/wp-admin\/customize.php?url=https%3A%2F%2Foyanokaipdx.wordpress.com%2F","i18n":{"view":"View site","follow":"Follow","following":"Following","edit":"Edit","login":"Log in","signup":"Sign up","customize":"Customize","report":"Report this content","themeInfo":"Get theme: Eventbrite Multi Event","shortlink":"Copy shortlink","copied":"Copied","followedText":"New posts from this site will now appear in your <a href=\"https:\/\/wordpress.com\/\">Reader<\/a>","foldBar":"Collapse this bar","unfoldBar":"Expand this bar","editSubs":"Manage subscriptions","viewReader":"View site in the Reader","subscribe":"Sign me up","enterEmail":"Enter your email address","followers":"","alreadyUser":"Already have a WordPress.com account? <a href=\"https:\/\/oyanokaipdx.wordpress.com\/wp-login.php?redirect_to=https%3A%2F%2Foyanokai.org%2F2017%2F02%2F28%2Fimportant-8th-grade-japan-research-residency-news%2F\">Log in now.<\/a>","stats":"Stats"}};
  /* ]]> */
</script>
<script type='text/javascript' src='https://s1.wp.com/_static/??-eJytkdEKwjAMRX/IWsRNfBG/peuCy2yb2KTTz7d7maIgCHu73Nx7Aom9s/GUFJLaUWwPE3rgx3aUjX0bxWI4lAsmsQGvIPZWoMDgUh8gf4Z1gFgjXDoLUzW6jAqmqgLzDvEZWf8sdUQqmh2/lPEuUxEIa6AoBMcCK6CUKCjyCiQmpun7vG+/cH3EZDqXbXSikKsycyVjX3ct3i+CV6Q0ExZV0+d42jXHtm2aw74dn0iL0Kk='></script>
<script type="text/javascript">
    // <![CDATA[
    (function() {
        try{
            if ( window.external &&'msIsSiteMode' in window.external) {
                if (window.external.msIsSiteMode()) {
                    var jl = document.createElement('script');
                    jl.type='text/javascript';
                    jl.async=true;
                    jl.src='/wp-content/plugins/ie-sitemode/custom-jumplist.php';
                    var s = document.getElementsByTagName('script')[0];
                    s.parentNode.insertBefore(jl, s);
                }
            }
        }catch(e){}
    })();
    // ]]>
</script>		<script>
    var _comscore = _comscore || [];
    _comscore.push({
        c1: "2",
        c2: "7518284"
    });
    (function() {
        var s = document.createElement("script"),
            el = document.getElementsByTagName("script")[0];
        s.defer = true;
        s.src = (document.location.protocol == "https:" ? "https://sb" : "http://b") + ".scorecardresearch.com/beacon.js";
        el.parentNode.insertBefore(s, el);
    })();
</script>
<noscript>
  <p class="robots-nocontent"><img src="https://sb.scorecardresearch.com/p?c1=2&c2=7518284&c3=&c4=&c5=&c6=&c15=&cv=2.0&cj=1" alt="" style="display:none;" width="1" height="1" /></p>
</noscript><script src="//stats.wp.com/w.js?56" type="text/javascript" async defer></script>
<script type="text/javascript">
    _tkq = window._tkq || [];
    _stq = window._stq || [];
    _tkq.push(['storeContext', {'blog_id':'124857644','blog_tz':'0','user_lang':'en','blog_lang':'en','user_id':'0'}]);
    _stq.push(['view', {'blog':'124857644','v':'wpcom','tz':'0','user_id':'0','subd':'oyanokaipdx'}]);
    _stq.push(['extra', {'crypt':'UE40eW5QN0p8M2Y/RE1LVmwrVi5vQS5fVFtfdHBbPyw1VXIrU3hWLHhmbUVsTTB6L1FEbi9sanFyY0tDVXBYb2l5L0l6YVQuUWl3R1FhY1pIN11IJUQ2Ni0wfC1jcVpKLlJQSFlJZFVKaHZXc0VhckYzWG1ZQ01SbWlaWUkxbCtsQkpiLGguY1hjflhYWEQ4aT9Ec2NzbllVWnZKQ0t3WUhHZVcxR3FkT29YWmI2d0luND1DaTcyQ2RLdThVc3MyWlUwJltmWHhZMFVQZF0lMXNyY1JHfGMrP2RaJltDXW9qaDR4M0ZCfF1ddko5VTdSMnhLaStkUFk3P35zY2xFWy5sTkJbN2M9VUlHMWxbaGdlMW5Cckx1bHAlSVosT2FxUD90USxmXWxvWkU4XU4z'}]);
    _stq.push([ 'clickTrackerInit', '124857644', '0' ]);
</script>
<noscript><img src="https://pixel.wp.com/b.gif?v=noscript" style="height:0px;width:0px;overflow:hidden" alt="" /></noscript>
<script>
    if ( 'object' === typeof wpcom_mobile_user_agent_info ) {

        wpcom_mobile_user_agent_info.init();
        var mobileStatsQueryString = "";

        if( false !== wpcom_mobile_user_agent_info.matchedPlatformName )
            mobileStatsQueryString += "&x_" + 'mobile_platforms' + '=' + wpcom_mobile_user_agent_info.matchedPlatformName;

        if( false !== wpcom_mobile_user_agent_info.matchedUserAgentName )
            mobileStatsQueryString += "&x_" + 'mobile_devices' + '=' + wpcom_mobile_user_agent_info.matchedUserAgentName;

        if( wpcom_mobile_user_agent_info.isIPad() )
            mobileStatsQueryString += "&x_" + 'ipad_views' + '=' + 'views';

        if( "" != mobileStatsQueryString ) {
            new Image().src = document.location.protocol + '//pixel.wp.com/g.gif?v=wpcom-no-pv' + mobileStatsQueryString + '&baba=' + Math.random();
        }

    }
</script></body>
</html>