<html lang="en">
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <title> Oya No Kai – Kurabu Summer Camp </title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes">

  <link rel="shortcut icon" href="http://creative.fishandbreadinn.com/wp/wp-content/uploads/2013/08/crane_logomark1.jpg">
  <link rel="pingback" href="http://oyanokai.org/xmlrpc.php">

  <!-- Theme Hook -->
  <link rel="alternate" type="application/rss+xml" title="Oya No Kai » Feed" href="http://oyanokai.org/feed/">
  <link rel="alternate" type="application/rss+xml" title="Oya No Kai » Comments Feed" href="http://oyanokai.org/comments/feed/">
  <link rel="alternate" type="text/calendar" title="Oya No Kai » iCal Feed" href="http://oyanokai.org/events-calendar/?ical=1">
  <link rel="stylesheet" id="google-fonts-css" href="http://fonts.googleapis.com/css?family=Pacifico%7CCabin%3A400%2C700%2C600%2C500%7CMuli%3A300%7CCabin%3Aregular%7CMuli%3A300%7CMuli%3A300%7CAcme%3Aregular&amp;ver=4.0.10" type="text/css" media="all">
  <link rel="stylesheet" id="tribe-events-full-calendar-style-css" href="http://oyanokai.org/wp-content/plugins/the-events-calendar/resources/tribe-events-full.min.css?ver=3.7" type="text/css" media="all">
  <link rel="stylesheet" id="tribe-events-calendar-style-css" href="http://oyanokai.org/wp-content/plugins/the-events-calendar/resources/tribe-events-theme.min.css?ver=3.7" type="text/css" media="all">
  <link rel="stylesheet" id="tribe-events-calendar-full-mobile-style-css" href="http://oyanokai.org/wp-content/plugins/the-events-calendar/resources/tribe-events-full-mobile.min.css?ver=3.7" type="text/css" media="(max-width: 768px)">
  <link rel="stylesheet" id="tribe-events-calendar-mobile-style-css" href="http://oyanokai.org/wp-content/plugins/the-events-calendar/resources/tribe-events-theme-mobile.min.css?ver=3.7" type="text/css" media="(max-width: 768px)">
  <link rel="stylesheet" id="nivo-slider-css" href="http://oyanokai.org/wp-content/themes/advocate/stylesheets/nivo-slider.css?ver=4.0.10" type="text/css" media="all">
  <link rel="stylesheet" id="nivo-slider-theme-css" href="http://oyanokai.org/wp-content/themes/advocate/stylesheets/nivo/default.css?ver=4.0.10" type="text/css" media="all">
  <link rel="stylesheet" id="tipsy-css" href="http://oyanokai.org/wp-content/themes/advocate/stylesheets/tipsy.css?ver=4.0.10" type="text/css" media="all">
  <link rel="stylesheet" id="fullcalendar-css" href="http://oyanokai.org/wp-content/themes/advocate/stylesheets/fullcalendar.css?ver=4.0.10" type="text/css" media="all">
  <link rel="stylesheet" id="fancybox-css" href="http://oyanokai.org/wp-content/themes/advocate/javascripts/fancybox/jquery.fancybox-1.3.4.css?ver=4.0.10" type="text/css" media="all">
  <link rel="stylesheet" id="style-css" href="http://oyanokai.org/wp-content/themes/advocate/style.css?ver=4.0.10" type="text/css" media="all">
  <link rel="stylesheet" id="media.queries-css" href="http://oyanokai.org/wp-content/themes/advocate/stylesheets/media.queries.css?ver=4.0.10" type="text/css" media="all">
  <link rel="stylesheet" id="custom-css" href="http://oyanokai.org/wp-content/themes/advocate/stylesheets/custom.php?ver=4.0.10" type="text/css" media="all">
  <script type="text/javascript" src="http://oyanokai.org/wp-includes/js/jquery/jquery.js?ver=1.11.1"></script>
  <script type="text/javascript" src="http://oyanokai.org/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.2.1"></script>
  <script type="text/javascript" src="http://oyanokai.org/wp-content/themes/advocate/javascripts/jquery-ui-1.8.14.js?ver=4.0.10"></script>
  <script type="text/javascript" src="http://oyanokai.org/wp-content/themes/advocate/javascripts/html5shiv.js?ver=4.0.10"></script>
  <script type="text/javascript" src="http://oyanokai.org/wp-content/themes/advocate/javascripts/jquery.tipsy.js?ver=4.0.10"></script>
  <script type="text/javascript" src="http://oyanokai.org/wp-content/themes/advocate/javascripts/fancybox/jquery.fancybox-1.3.4.pack.js?ver=4.0.10"></script>
  <script type="text/javascript" src="http://oyanokai.org/wp-content/themes/advocate/javascripts/fancybox/jquery.easing-1.3.pack.js?ver=4.0.10"></script>
  <script type="text/javascript" src="http://oyanokai.org/wp-content/themes/advocate/javascripts/jquery.mobilemenu.js?ver=4.0.10"></script>
  <script type="text/javascript" src="http://oyanokai.org/wp-content/themes/advocate/javascripts/jquery.infieldlabel.js?ver=4.0.10"></script>
  <script type="text/javascript" src="http://oyanokai.org/wp-content/themes/advocate/javascripts/jquery.quicksand.js?ver=4.0.10"></script>
  <script type="text/javascript" src="http://oyanokai.org/wp-content/themes/advocate/javascripts/fullcalendar.js?ver=4.0.10"></script>
  <script type="text/javascript" src="http://oyanokai.org/wp-content/themes/advocate/javascripts/advocate.js?ver=4.0.10"></script>
  <link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://oyanokai.org/xmlrpc.php?rsd">
  <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://oyanokai.org/wp-includes/wlwmanifest.xml">
  <meta name="generator" content="WordPress 4.0.10">
  <link rel="canonical" href="http://oyanokai.org/kurabu-summer-camp/">
  <link rel="shortlink" href="http://oyanokai.org/?p=361">
</head>

<body class="page page-id-361 page-template-default tribe-theme-advocate page-template-page-php">
<header>
  <div class="container">
    <!-- Start Menu -->
    <nav>
      <ul id="nav" class="menu">
        <li id="menu-item-923" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-923">
          <a href="http://oyanokai.org">Home</a></li>
      </ul>
      <select class="select-menu">
        <option value="#">Navigate to...</option>
        <option value="http://oyanokai.org/">&nbsp;Home</option>
        <option value="http://oyanokai.org/about/">&nbsp;About Us</option>
        <option value="http://oyanokai.org/activities/">&nbsp;Activities &amp; Fundraisers</option>
        <option value="http://oyanokai.org/events-calendar/">–&nbsp;Calendar カレンダー</option>
        <option value="http://oyanokai.org/fundraisers/">–&nbsp;Fundraisers</option>
        <option value="http://oyanokai.org/scrip/">––&nbsp;Scrip ギフトカード – Order Here</option>
        <option value="http://oyanokai.org/scrip-faq/">–––&nbsp;Scrip FAQ</option>
        <option value="http://oyanokai.org/scrip-merchants/">–––&nbsp;List of Merchants and Order Form</option>
        <option value="http://oyanokai.org/scrip-order-dates/">–––&nbsp;Scrip Order Dates</option>
        <option value="http://oyanokai.org/annual-auction/">––&nbsp;Annual Auction オークション（年に一回）</option>
        <option value="http://oyanokai.org/chinook-book/">––&nbsp;Chinook Book</option>
        <option value="http://oyanokai.org/westwind/">–&nbsp;Camp Westwind</option>
        <option value="http://oyanokai.org/stay-connected/volunteer/">–&nbsp;Become a Volunteer ボランティア</option>
        <option value="http://oyanokai.org/stay-connected/">&nbsp;Stay Connected</option>
        <option value="http://oyanokai.org/stay-connected/address-tax-id/">–&nbsp;Address &amp; Tax ID</option>
        <option value="http://oyanokai.org/stay-connected/directory/">–&nbsp;Directory 名簿</option>
        <option value="http://oyanokai.org/listserv/">–&nbsp;Listserv</option>
        <option value="http://oyanokai.org/stay-connected/minutes/">–&nbsp;Minutes お知らせ</option>
        <option value="http://oyanokai.org/stay-connected/newsletter/">–&nbsp;Newsletter 新聞</option>
        <option value="http://oyanokai.org/stay-connected/school-links/">–&nbsp;School Info 学校のリンク</option>
        <option value="http://oyanokai.org/programs/">&nbsp;Our Programs</option>
        <option value="http://oyanokai.org/intern-and-host-family-program/">–&nbsp;Intern and Host Family Program
        </option>
        <option value="http://oyanokai.org/interns/">––&nbsp;Intern Program</option>
        <option value="http://oyanokai.org/meet-our-interns-new/">––&nbsp;Meet Our Interns 2015-2016</option>
        <option value="http://oyanokai.org/become-a-host-family/">––&nbsp;Become a Host Family</option>
        <option value="http://oyanokai.org/host-family-forms/">––&nbsp;Intern Host Family Forms</option>
        <option value="http://oyanokai.org/cultural-exchanges/">–&nbsp;Cultural Exchange Program</option>
        <option value="http://oyanokai.org/outbound-exchanges/">––&nbsp;Outbound Exchanges and FAQ</option>
        <option value="http://oyanokai.org/cultural-exchanges/5th-grade/">–––&nbsp;5th Grade</option>
        <option value="http://oyanokai.org/cultural-exchanges/8th-grade-research-residency/">–––&nbsp;8th Grade Research
          Residency
        </option>
        <option value="http://oyanokai.org/sapporo-summer-institute/">–––&nbsp;Sapporo Summer Institute</option>
        <option value="http://oyanokai.org/cultural-exchanges/sister-schools/">––&nbsp;Inbound Exchanges &amp; Sister
          Programs
        </option>
        <option value="http://oyanokai.org/kurabu-summer-camp/" selected="selected">–&nbsp;Kurabu Summer Camp</option>
        <option value="http://oyanokai.org/tutoring/">–&nbsp;Tutoring</option>
        <option value="http://oyanokai.org/resources/">&nbsp;ONK Forms &amp; Resources</option>
        <option value="http://oyanokai.org/downloadable-forms/">–&nbsp;Downloadable Forms</option>
        <option value="http://oyanokai.org/links-for-kids/">–&nbsp;Links for Kids</option>
        <option value="http://oyanokai.org/donate-to-oya-no-kai/">&nbsp;Donate</option>
        <option value="http://oyanokai.org/contact/">&nbsp;Contact</option>
      </select></nav>
    <!-- End Menu -->

    <!-- Start Social Icons -->
    <aside>
    </aside>
    <!-- End Social Icons -->
  </div>
</header>
<section class="page_heading">
  <div class="logo container">
    <div class="uploaded">
      <a href="http://oyanokai.org"><img src="http://oyanokai.org/wp-content/uploads/2013/11/Oya_No_Kai_Logo_Landscape.png" alt="Oya No Kai"></a>
    </div>
    <span class="tagline"> Supporting the Japanese Dual Language Program of Portland Public Schools</span>
  </div>
</section>

<div class="page_wrapper">
  <section class="container">

    <!-- Start Page Content -->
    <div class="page">
      <p class="notice" style="font-weight: bold; color:green"><%= notice %></p>
      <p class="alert" style="font-weight: bold; color:red"><%= alert %></p>

      <%= yield %>
    </div>
    <!-- End Page Content -->

    <!-- Start Sidebar -->
    <!-- End Sidebar -->
  </section>
</div>
<footer>
  <div class="container">
    <div class="clear"></div>
    <div class="copy"><p>Copyright &amp; Copy; 2012 Oya No Kai. All Rights Reserved.</p></div>
  </div>
</footer>

<div id="fancybox-tmp"></div>
<div id="fancybox-loading">
  <div></div>
</div>
<div id="fancybox-overlay"></div>
<div id="fancybox-wrap">
  <div id="fancybox-outer">
    <div class="fancybox-bg" id="fancybox-bg-n"></div>
    <div class="fancybox-bg" id="fancybox-bg-ne"></div>
    <div class="fancybox-bg" id="fancybox-bg-e"></div>
    <div class="fancybox-bg" id="fancybox-bg-se"></div>
    <div class="fancybox-bg" id="fancybox-bg-s"></div>
    <div class="fancybox-bg" id="fancybox-bg-sw"></div>
    <div class="fancybox-bg" id="fancybox-bg-w"></div>
    <div class="fancybox-bg" id="fancybox-bg-nw"></div>
    <div id="fancybox-content"></div>
    <a id="fancybox-close"></a>
    <div id="fancybox-title"></div>
    <a href="javascript:;" id="fancybox-left"><span class="fancy-ico" id="fancybox-left-ico"></span></a><a href="javascript:;" id="fancybox-right"><span class="fancy-ico" id="fancybox-right-ico"></span></a>
  </div>
</div>
</body>
</html>